.layout{
  padding: 1.5rem 1.25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.09rem;
  gap: 0.52rem;
  color:#FFFFFF;
  background: #706e6ef5;

}

@media (max-width: 900px){}
@media (max-width: 700px){}
@media (max-width: 500px){}
@media (max-width: 400px){}